@if (pokemonesCompleto) {
    @for (item of pokemonesCompleto; track item.id) {
        <mat-card class="example-card">
            <mat-card-header (click)="openDialog()">
              <div mat-card-avatar><img [src]="item.sprites.front_default"></div>
              <mat-card-title>{{item.name}}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>    
            <mat-card-content (click)="openDialog()">
              <p>
                Base experience: {{item.base_experience}} <br>
                Height: {{item.height}} <br>
                Weight: {{item.weight}} <br>
                Type: {{item.types[0].type.name}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="playSound(item.cries.latest)">Sonido</button>
            </mat-card-actions>
        </mat-card>
    }
}
